
<div id="entry-content">
  <div class="entry-panel">
    <div class="entry-box group">
      <%= image_tag "logo.png", class: "entry-logo"%>
      <%= image_tag "logo(large).png", class: "entry-img"%>
      <div class="entry-form">
        <h1> Sign In </h1>
        <form action="<%= session_url %>" method="post">
          <%= auth %>
          <label>Username</label>
            <input class="form-control"
              id="username"
              type="text" name="user[username]" value="<%=@user.username%>">
          <label>Password</label>
            <input class="form-control"
              id="password"
              type="password" name="user[password]">
          <input class="btn btn-primary pull-right" type="submit" value="Sign In">
        </form>
      </div>
      <div class="entry-footer">
        Not awesome yet? <%= link_to("Sign up!", new_user_url)  %>
        <br>
        Want to try it out? <a id="demo-login">Log in as Demo</a>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    var demoID = Math.floor(Math.random() * 900 + 100);
    $("#demo-login").on("click", function () {
      $("#username").val("demo" + demoID)
      $("#password").val("password")
      $.ajax({
        url: "/users",
        type: "POST",
        data: { user: { username: 'demo' + demoID, password: 'password'} },
        success: function (response) {
          window.location.href = "/";
        }
      })
    });
  })
</script>
