<div id="entry-content">
  <div class="entry-panel">
    <div class="entry-group">
      <%= image_tag "logo(large).png" %>
      <div class="title">Welcome to Life Tracker</div>
      <div class="subtitle">A task-management application</div>
      <div class="entry-form">
        <h1> Sign Up! </h1>
        <form action="<%= users_url %>" method="post">
          <%= auth %>
          <label>Username</label>
            <input class="form-control" type="text" name="user[username]" value="<%=@user.username%>">

          <label>Password</label>
            <input class="form-control" type="password" name="user[password]" id="Password" value="">

            <input class="btn btn-primary pull-right" type="submit" value="Sign up!">
        </form>
        <div class="entry-footer">
          Already awesome? <%= link_to("Log in!", new_session_url)  %>
        </div>
      </div>
    </div>
  </div>
</div>
